@layer base {
  .cezar-root {
    isolation: isolate;
    box-sizing: border-box;
    min-width: 0;
    color: var(--cezar-foreground);
    background-color: var(--cezar-background);
    font-family: var(--cezar-font-sans);
    line-height: 1.5;
    overflow-wrap: break-word;
    overscroll-behavior: contain;
    scrollbar-color: var(--cezar-muted-foreground) var(--cezar-background);
    scrollbar-width: thin;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .cezar-root *,
  .cezar-root *::before,
  .cezar-root *::after {
    box-sizing: inherit;
    border-color: var(--cezar-border);
  }

  .cezar-root ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .cezar-root ::-webkit-scrollbar-thumb {
    background-color: var(--cezar-muted-foreground);
    border: 3px solid var(--cezar-background);
    border-radius: var(--cezar-radius-lg);
  }

  .cezar-root ::-webkit-scrollbar-track {
    background: var(--cezar-background);
  }
}
